@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar pour Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* couleur de fond */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #7f5af0, #5d3fd3);
  border-radius: 10px;
  border: 2px solid #f0f0f0; /* petit contour */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #a78bfa, #7c3aed);
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7f5af0 #f0f0f0;
}
